<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <!--插入为空时插入空值避免报空指针-->
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <!-- 别名定义 -->
    <typeAliases>
        <package name="com.pojo" />
    </typeAliases>

</configuration>